.password_reset, .password_reset_sent{
    margin-left:5px;
    padding:20px;
    margin-bottom:210px;
}
.password_reset_sent{
    margin-top:60px;
    margin-bottom: 190px;
}
.password_reset_heading{
    font-family:'Times New Roman', Times, serif;
}
.instructions{
    
    font-family: sans-serif;
}
#id_email,#id_new_password1,#id_new_password2{
 max-width:320px;
 margin-right: 15px;
}
label{
    display:none;
}
 input[type="submit"] {
            display: block;
            width: 100%;
            max-width:150px;
            background: #3e7ae2;
            margin-top: 0px;
            line-height: 0px;
            border: none;
            color: white;
            padding: 15px;
        }

        input[type="submit"]:hover {
            background-color: #82abf1;
            color: black;
        }