<div class="box6" id="footer">
          <div class="item1"><h3>Follow us :</h3>
          <a href=""><i class="fa fa-facebook-official ficons"></i></a>
          <a href=""><i class="fa fa-twitter ficons"></i></a>
          <a href=""><i class="fa fa-linkedin ficons"></i></a>
          </div>
          <div class="item2"><h5>&copy (2020) Shree Himalaya Traders <br>All Right Reserved.
          </h5>
            <h6 id="developer" class="hidden-sm hidden-xs">Site created by : Himalaya Gupta, Connect with me on <a href="https://www.linkedin.com/in/himalayagupta03/"><i class="fa fa-linkedin"></i></a></h6>
          </div>
          <div class="item3"><h3>Mail us : </h3>
            <a href=""><i class="fa fa-envelope ficons"></i></a>
            <a href=""><i class="fa fa-map-marker ficons"></i></a>
          </div>
        </div>