{% extends 'main.html' %}
{% block content %}
<div class="password_reset_sent" style="margin-bottom: 150px;">
    {% if validlink %}
    <h1 class="password_reset_heading">Enter New Password:</h1>
    <br>
    <h3 class="instructions">Please enter your new password twice so we can verify you typed it in correctly.</h3>
    <form action="" method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Change Password" style="line-height:0px; max-width: 200px;">
    </form>
    {% else %}
    <h3 class="instructions" style="margin-bottom: 225px;">The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{% url 'reset_password' %}">new password reset</a>.</h3>
    {% endif %}
</div>
<script>
    var id_one = document.getElementById('id_new_password1');
    id_one.placeholder = 'New Password..'

    var id_two = document.getElementById('id_new_password2');
    id_two.placeholder = 'Confirm Password..'
    document.getElementsByClassName('helptext')[0].style.display = 'none';
</script>
{% endblock %}