{% extends 'main.html' %}
{% block content %}
<div class="password_reset_sent">
    <h1 class="password_reset_heading">Password Reset Sent:</h1>
    <br>
    <h3 class="instructions">We have emailed you instructions for setting your password</h3>
    <h3 class="instructions">Didn`t recieve an email ??</h3>
    <ul>
        <li><h5>Check if the email id is registered with us</h5></li>
        <li><h5>Check if the email id exists</h5></li>
        <li><h5>Try Checking your spam folder</h5></li>
        <li><h5><a href="{% url 'reset_password' %}">Send request again</a></h5></li>
    </ul>

</div>
{% endblock %}