{% extends 'main.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="password_reset" style="margin-top:60px;">
<h1 class="password_reset_heading">Password Reset: </h1>
<br>
<h3 class="instrcutions">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</h3>
<form action="" method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Submit" name="Send email" style="line-height:0px;">
</form>
</div>
{% endblock %}